<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>JavaScript SPA Frameworks</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="reveal.js/css/reveal.css">
        <!--<link rel="stylesheet" href="reveal.js/css/theme/simple.css" id="theme">-->
		<!--<link rel="stylesheet" href="reveal.js/css/theme/black.css" id="theme">-->
        <!--<link rel="stylesheet" href="reveal.js/css/theme/white.css" id="theme">-->
		<!--<link rel="stylesheet" href="reveal.js/css/theme/night.css" id="theme">-->
        <link rel="stylesheet" href="reveal.js/css/theme/sky.css" id="theme">


		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="reveal.js/lib/css/zenburn.css">
		<style>
			/*pre code {*/
				/*display: block;*/
				/*padding: 0.5em;*/
				/*background: #FFFFFF !important;*/
				/*color: #000000 !important;*/
			/*}*/
			/*.right-img {*/
				/*margin-left: 10px !important;*/
				/*float: right;*/
				/*height: 500px;*/
			/*}*/
		</style>

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'reveal.js/css/print/pdf.css' : 'reveal.js/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="reveal.js/lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
    <h3>JavaScript-Frameworks: Wieso überhaupt, und dann welches?</h3>
    <!--<h3>JavaScript Single-Page Application Web Frameworks</h3>-->
                    <p>
                        <small><a href="http://zeigermann.eu">Oliver Zeigermann</a> / <a href="http://twitter.com/djcordhose">@DJCordhose</a>
                        </small>
                    </p>

                    <img src="2016_jax_qr.jpg" height="200px">
        <p>Online-Version: <a href="http://bit.ly/1Ot8Mkg">http://bit.ly/1Ot8Mkg</a></p>
        <p><small>Code auf Github: <a href="https://github.com/DJCordhose/javascript-web-frameworks">https://github.com/DJCordhose/javascript-web-frameworks</a></small></p>


                    <p>
        <small><em>Anleitung</em>: ESC drücken für eine Übersicht über alle Folien, Blättern mit den Cursor-Tasten
        </small>
    </p>
    </section>

            <!--<section>-->
                <!--<h2>Chess-Timer-Talk</h2>-->
                <!--<h3 class="fragment">10 Minuten sind für Q&A reserviert</h3>-->
                <!--<h3 class="fragment">Wann das passiert, ist mir egal</h3>-->
                <!--<h3 class="fragment">Fragen daher jederzeit erlaubt</h3>-->
                <!--<h3 class="fragment">Bei jeder Frage läuft die Uhr herunter</h3>-->
            <!--</section>-->

                <!--<section>-->
        <!--<h3>Überblick</h3>-->
        <!--<img src="js-frameworks.jpg" height="500px">-->
        <!--<p><small>Copyright 2015, Mike North (@michaellnorth), https://twitter.com/ModernWebUI/status/575532649948790784/photo/1</small></p>-->
    <!--</section>-->
                <section>
                    <h2>Teil I</h2>
                    <h3>Was ist eine Single-Page-Applikation?</h3>
                    <h4 class="fragment">... und warum möchte ich eine haben</h4>
                </section>

    <section>
        <h3>Klassiche Webanwendung</h3>
        <p><small>jeder Boot tut gut, jeder Roundtrip setzt Zustand zurück</small></p>

        <ul>
            <img src="Classic_Web_Application.png" style="height: 500px;">
        </ul>
        <!--<p><small>Copyright 2015, Oliver Zeigermann</small></p>-->
    </section>

                <section>
                    <h3>Single Page Applications (SPAs) verschieben eure Anwendung in den Browser</h3>
                    <ul>
                        <li class="fragment roll-in">UI/UX in klassischen Webanwendungen ist grunsätzlich eingeschränkt
                        <li class="fragment roll-in">Nutzer erwartet Bedienbarkeit wie im Desktop
                        <li class="fragment roll-in">klassische Webanwendung in seiner Reinform längst so gut wie ausgestorben
                        <li class="fragment roll-in">selbst in vermeintlich klassischen Anwendungen verstecken sich SPAs oft als Teile
                        <li class="fragment roll-in">z.B. JSF Komponenten mit einem komplexen UI
                    </ul>
                </section>
    <section>
        <h3>SPA Lean</h3>
        <ul>
            <img src="SPA_Lean.jpg" style="height: 500px;">
        </ul>
        <!--<p><small>Copyright 2015, Oliver Zeigermann</small></p>-->
    </section>

    <section>
        <h3>SPA Fat</h3>
        <ul>
            <img src="SPA_Fat.jpg" style="height: 500px;">
        </ul>
        <!--<p><small>Copyright 2015, Oliver Zeigermann</small></p>-->
    </section>
        <section>
            <h3>Und wieso dann ein JavaScript Web Framework?</h3>
            <p class="fragment roll-in">Anfordernugen an Client Code wachsen bei SPAs dramatisch</p>
            <p class="fragment roll-in">Entweder nimmt man ein Standard-Framework</p>
            <p class="fragment roll-in">... oder man schreibt sein eigenes (manchmal ohne es zu merken)</p>
            <p class="fragment roll-in">Standard-Framework bietet</p>
            <ul class="fragment">
                <li>einen erprobten Rahmen
                <li>Community, Dokumentation
                <li>neue Mitarbeiter finden sich zurecht
            </ul>

        </section>
                <section>
                    <h2>Teil II</h2>
                    <h3>Komponenten basierte SPA Frameworks</h3>
                </section>
                <section>
                    <h2>Unsere Kandidaten</h2>
                    <ol>
                        <li class="fragment grow"><a href="#angular1">Der Klassiker: Angular 1.x</a>
                        <li class="fragment grow"><a href="#react">Von Antipatterns zu Best-Practices: React</a>
                        <li class="fragment grow"><a href="#angular2">kgV (Vereinigungsmenge): Angular 2</a>
                        <li class="fragment grow"><a href="#webcomponents">ggT (Schnittmenge): Web Components</a>
                    </ol>
                </section>
                <section>
                    <h2>Vorgehen</h2>
                    <p class="fragment">Mit allen Frameworks implementieren wir dasselbe <a target="_blank" href="code/angular1-component/helloWorldAngular.html">Hello, World</a>
                    </p>
                </section>

                <section id="angular1">
            <h2>Angular 1</h2>
        <ul class="fragment">
            <li>Der Klassiker von Google
            <li>Massig Developer, Foren, Anbindungen, usw
            <li>3 Ds
                <ul>
                    <li>Data Binding (2-Wege)
                    <li>Dependency Injection
                    <li>Directives (=== Komponenten)
                </ul>
            </li>
        </ul>
    </section>

                <!--<section>-->
                    <!--<h3>Hello World AngularJS (Controller basiert)</h3>-->
                    <!--<p><a target="_blank" href="https://github.com/johnpapa/angular-styleguide/blob/master/README.md">-->
                        <!--Code-Stil basiert auf (halb-) offizieller Empfehlung</a></p>-->
<!--<pre><code data-trim contenteditable>function HelloController() {-->
    <!--var vm = this; // define view model-->
    <!--vm.greeting = 'Hello';-->
    <!--vm.clear = function () {-->
        <!--vm.greeting = '';-->
        <!--document.getElementById('in').focus();-->
    <!--};-->
<!--}</code></pre>-->
<!--<pre class="fragment"><code data-trim contenteditable>&lt;body np-app ng-controller="HelloController as helloController">-->
  <!--&lt;input ng-model="helloController.greeting" id="in">-->
  <!--&lt;p>{{helloController.greeting}}, World!&lt;/p>-->
  <!--&lt;input type="button" value="Clear"-->
         <!--ng-click="helloController.clear()">-->
<!--&lt;/body></code></pre>-->
        <!--<a target="_blank" href="code/angular/helloWorldAngular.html">Run</a>-->
                <!--</section>-->
                <section>
                    <h3>Hello World AngularJS 1.5</h3>
                    <p><a target="_blank" href="https://toddmotto.com/exploring-the-angular-1-5-component-method/">
                        https://toddmotto.com/exploring-the-angular-1-5-component-method/</a></p>
<pre class="fragment"><code data-trim contenteditable><!--greeter.html-->
&lt;input ng-model="greeter.greeting" id="in">
&lt;p>{{greeter.greeting}}, World!&lt;/p>
&lt;input type="button" value="Clear" ng-click="greeter.clear()">
</code></pre>
<pre><code data-trim contenteditable><!--index.html-->
&lt;body ng-app="hello">
  &lt;greeter greeting="Hello"></greeter>
&lt;/body></code></pre>
                </section>
                <section>
                    <img src="ng-click.png" style="height: 500px;">
                    <p><small><a href="https://twitter.com/hollandben/status/526792275041746944" target="_blank">@hollandben</a></small></p>
                </section>

                <section>
                    <h3>Komponente</h3>
<pre><code data-trim contenteditable>angular.module('hello', [])
    .component('greeter', {
        bindings: {
            greeting: "@"
        },
        controller: function () {
            var vm = this;
            vm.clear = function () {
                vm.greeting = '';
                document.getElementById('in').focus();
            };
        },
        templateUrl: 'greeter.html'
    });
</code></pre>
                    <a target="_blank" href="code/angular1-component/helloWorldAngular.html">Run</a>
                </section>

                <section>
                    <h4>2-Wege Databindung mit veränderlichem Zustand</h4>
                    <p class="fragment">Eine gute Idee?</p>
                    <img class="fragment" src="2-way-data-binding.gif">
                </section>


                <section id="react">
                    <h2>React</h2>
                    <ul class="fragment">
                        <li>Framework für Facebook und viele andere
                        <li>Komponenten kapseln Template und Logik
                        <!--<li class="fragment">Abstraktion vom DOM: <em>f(model) -> UI</em>-->
                        <li>Minimales API
                        <li>Templates sind JavaScript plus HTML artige JSX-Syntax
                        <li>Ein-Weg-Data-Binding: Zustandsänderungen stellen Komponente neu dar
                        <li>Kann im Browser und auf dem Server rendern
                        <li>viel Inspiration aus der funktionalen Ecke (Immutable, pure functions, stateless)
                    </ul>
                </section>

                <section>
                    <h3>Hello World React</h3>
<pre><code data-trim contenteditable>class HelloMessage extends React.Component {
  render() {
    return <div>
            &lt;input value={this.state.greeting} ref="in"
                   onChange={this.updateModel.bind(this)} />
            <p>{this.state.greeting}, World</p>
            &lt;button onClick={this.reset.bind(this)}>Clear&lt;/button>
        </div>;
  }</code></pre>
<pre class="fragment"><code contenteditable class="javascript">  constructor(props) {
    this.state = {greeting: this.props.greeting};
  }
  updateModel(event) {
    this.setState({greeting: event.target.value});
  }
  reset() {
    this.setState({greeting: ""});
    this.refs.in.focus();
  }
}</code></pre>
                </section>
                <section>
                    <h3>Aufruf</h3>
<pre><code data-trim contenteditable>
// index.html
&lt;body>
  <div id="mount"></div>
&lt;/body>
</code></pre>
<pre class="fragment"><code data-trim contenteditable class="javascript">
// main.js
import HelloMessage from './HelloMessage';

var mountNode = document.getElementById('mount');
ReactDOM.render(&lt;HelloMessage greeting="Hello"/>, mountNode);
</code></pre>
                    <a target="_blank" href="code/react/public/index.html">Run</a>
                </section>
                <section>
                    <h3>React Stack</h3>
                    <div class="fragment">
                    <img src="react-fatigue.png">
                    <p><small><a href="https://forums.meteor.com/t/meteor-tooling-is-the-cure-for-javascript-fatigue/21292" target="_blank">https://forums.meteor.com/t/meteor-tooling-is-the-cure-for-javascript-fatigue/21292</a></small></p>
                    </div>
                </section>
                <section>
                    <h3>React in der Praxis</h3>
                    <ul>
                        <li class="fragment">React wird meist mit anderen Tools und Techniken zusammen eingesetzt
                        <li class="fragment">React-Router: Was wird bei welcher URL dargestellt?
                        <li class="fragment">Architektur-Muster
                            <ul>
                                <li class="fragment">Universal Rendering: Server- und Client-Rendering kombiniert
                                <li class="fragment">Flux: UI-Architektur-Muster
                                <li class="fragment">Controller-/Child-Komponenten-Hierarchien
                            </ul>
                        </li>
                        <li class="fragment">Build
                            <ul>
                                <li class="fragment">Babel: Übersetzer
                                <li class="fragment">Webpack: Bundler
                                <li class="fragment">Flow: Statischer Type Checker
                            </ul>
                        </li>
                    </ul>
                </section>

                <section>
                    <h3>React Native</h3>
                    <p><a href="https://facebook.github.io/react-native/" target="_blank">
                        A framework for building native apps using React
                    </a></p>
                    <p class="fragment">Native Apps für Android und iOS mit React</p>
                </section>

                <section id="angular2">
            <h2>Angular 2</h2>
        <ul class="fragment">
            <li>Nachfolger von Angular 1
            <li>Ankündigung (Herbst 2014) hat zu Verunsicherung geführt
                <ul>
                    <li>Konzepte deutlich anders als Angular 1
                    <li>Kein Migrationspfad absehbar
                </ul>
            </li>
            <li>Entwickelt in Microsofts TypeScript (ES5, ES6 und Dart auch unterstützt)
            <li>Deutlich schneller als Angular 1
            <li>Server side rendering wird unterstützt
        </ul>
    </section>
                <section>
                    <h3>Hello World AngularJS 2.x</h3>
<pre class="fragment"><code class="xml" contenteditable>@Component({
  selector: 'greeter'
  template:
  `&lt;input [(ngModel)]="greeting" #in>
   &lt;p>{{greeting}}, World&lt;/p>
   &lt;button (click)="reset(in)">Clear&lt;/button>`
})</code></pre>
<pre><code class="java" contenteditable>class Greeter {
    @Input() greeting: string;
    reset(input: HTMLInputElement) {
        this.greeting = '';
        input.focus();
    }
}
</code></pre>
                </section>
        <section>
            <h3>Aufruf</h3>
<pre><code contenteditable class="java">@Component({
    selector: 'hello-app',
    directives: [Greeter],
    template: '<greeter greeting="Hello"></greeter>'
})
class App {
}
bootstrap(App);
</code></pre>
<pre class="fragment"><code data-trim contenteditable>
&lt;body>
    &lt;hello-app>&lt;/hello-app>
    &lt;script>System.import('app');&lt;/script>
&lt;/body>
</code></pre>
            <p>npm start</p>
        </section>
                <section>
                        <img src="angular2-mtn.png">
                        <p><small><a href="https://daveceddia.com/angular-2-should-you-upgrade/" target="_blank">https://daveceddia.com/angular-2-should-you-upgrade/</a></small></p>
                </section>
                <section>
                    <h3>Von Angular 1 zu Angular 2</h3>
                    <ul class="fragment">
                        <li>Angular 2 ist seit Dezember 2015 in beta
                        <li>sanfter Migrationspfad inklusive Mischen 1 und 2 mit <em>ngUpgrade</em>
                        <!--<li>Transclusion (Komponenten-Hierarchien) in Angular 2 deutlich klarer und performanter-->
                        <li>Angular 1.5 enthält <a target="_blank" href="https://docs.angularjs.org/guide/component-router">Component Router</a>
                            <ul>
                                <li>funktioniert mit Angular 1 und 2
                                <li>flexibel genug für alle Einsatzgebiete (inkl. nested Routes)
                            </ul>
                        </li>
                    </ul>
                </section>

                <section id="webcomponents">
                    <h2>Web Components</h2>
                    <ul>
                        <li class="fragment"><a href="https://github.com/w3c/webcomponents" target="_blank">Standard-Erweiterungen für Komponenten im Browser</a>
                            <ol>
                                <li class="fragment">Custom Elements: man kann eigene Tags definieren
                                <li class="fragment">HTML Templates: einfache Templates innerhalb einer HTML-Seite (jetzt im HTML-Standard)
                                <li class="fragment">Shadow DOM: Lokale Kapselung von DOM und CSS
                                <li class="fragment">HTML Imports: Inkludieren von HTML/Web Components
                            </ol>
                        </li>
                    </ul>
                </section>
                <section>
                    <h2 style="color: red">ACHTUNG</h2>
                    <h3 class="fragment">Web Components erlauben viele Spielarten</h3>
                    <h4 class="fragment">Die folgende Spielart ist meine Empfehlung</h4>
                </section>
                <section>
                    <h2 style="color: red">ACHTUNG #2</h2>
                    <h3 class="fragment">Die <a target="_blank" href="https://w3c.github.io/webcomponents/spec/custom/">
                        aktuellste Spec vom 8.4.2016</a> enthält Neuerungen, die jedoch bisher nicht umgesetzt sind</h3>
                </section>
                <section>
                    <h3>Hello World Web Components and ES6</h3>
<pre><code data-trim contenteditable>
&lt;greeter-element greeting="Hello">&lt;/greeter-element>
</code></pre>
<pre class="fragment"><code data-trim contenteditable class="javascript">
// document.define in latest version of spec
document.registerElement('greeter-element', Greeter);
</code></pre>

<pre class="fragment"><code data-trim contenteditable class="javascript">
class Greeter extends HTMLElement {
    // constructor in latest version of spec, plus more callbacks
    createdCallback() {
        this.render();
        this.bind();
        this.setModel(this.getAttribute("greeting"));
    }

    attributeChangedCallback(name, oldValue, newValue) {
        if (name === "greeting") {
            this.setModel(newValue);
        }
    }
    // ...
}
</code></pre>
                </section>
                <section>
                    <h3>Details</h3>
<pre class="fragment"><code data-trim contenteditable class="javascript">
// just plain HTML using ES6 import
import template from './template.html';

render() {
  // this.attachShadow({mode: 'closed'}).innerHTML = template;
  this.createShadowRoot().innerHTML = template;
  this.input = this.shadowRoot.querySelector("#in");
  this.span = this.shadowRoot.querySelector("#log");
  this.button = this.shadowRoot.querySelector("#btn");
}
</code></pre>

<pre class="fragment"><code data-trim contenteditable class="javascript">
bind() {
  this.input.addEventListener("keyup", event => this.setModel(event.target.value));
  this.button.addEventListener("click", event => {
    this.setModel("");
    this.input.focus();
  });
}
</code></pre>

<pre class="fragment"><code data-trim contenteditable class="javascript">
setModel(value) {
  this.span.textContent = value;
  this.input.value = value;
}
</code></pre>
                    <a target="_blank" href="code/web-components-webpack-es6/index.html">Run</a>
                </section>

                <section>
                    <img src="eich-tc39.jpg" height="600">
                    <p><small><a href="https://twitter.com/hichaelmart/status/667749535440084992/photo/1>https://twitter.com/hichaelmart/status/667749535440084992/photo/1">https://twitter.com/hichaelmart/status/667749535440084992/photo/1</a></small></p>
                </section>

    <section>
        <h3>Web Components: Unterstützung</h3>
        <ul>
            <li class="fragment">Ursprünglich ein Alleingang von Google
            <li class="fragment"><a href="https://hacks.mozilla.org/2015/06/the-state-of-web-components/" target="_blank">
                Ursprüngliche Implementierung von Google in Chrome weitgehend verworfen</a>
            <li class="fragment"><a href="http://caniuse.com/#search=components" target="_blank">
                Alle Browser-Hersteller haben mit der Umsetzung begonnen</a>
            <li class="fragment"><a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components/HTML_Imports" target="_blank">Firefox wird HTML Imports nicht unterstützen</a>
            <li class="fragment"><a href="https://github.com/w3c/webcomponents/wiki/Custom-Elements:-Contentious-Bits" target="_blank">
                Endgültige Spec - zumindest für Custom Elements - noch nicht absehbar</a>
                <!--<li class="fragment"><a target="_blank" href="http://docs.telerik.com/kendo-ui/webcomponents">Kendo UI Widgets</a> auch als Web Components möglich-->
                <!--<li class="fragment"><a target="_blank" href="https://vaadin.com/elements">Vaadin bietet Grid und verspricht mehr</a>-->
            <li class="fragment">Googles <a target="_blank" href="https://www.polymer-project.org/1.0/">Polymer-Framework</a>
                basierend auf einer veralteten Version der Web-Components, dennoch 1.0
            <li class="fragment"><a target="_blank" href="http://webcomponents.org/polyfills/">Polyfills</a> verfügbar
        </ul>
    </section>


                <section>
                    <h2>Teil III</h2>
                    <h3>Querschnittsthemen und Bewertung</h3>
                </section>
                <section>
                    <h3>Build-Prozess</h3>
                    <ul>
                        <li class="fragment"><em>Angular 1</em>
                            <ul>
                                <li>Optional, einfach angular.js einbinden
                            </ul>
                        </li>
                        <li class="fragment"><em>React</em>
                            <ul>
                                <li>Notwendig (wegen JSX)
                                <li>Babel und Webpack Standard
                            </ul>
                        </li>
                        <li class="fragment"><em>Angular 2</em>
                            <ul>
                                <li>Notwendig für ES6 oder TypeScript
                                <li>SystemJS kompiliert für Dev direkt im Browser
                            </ul>
                        </li>
                        <li class="fragment"><em>Web Components</em>
                            <ul>
                                <li>Optional, funktioniert mit allem
                                <li>HTML-Import schwierig für statisches Build
                            </ul>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Router</h3>
                    <p class="fragment">Was wird bei welcher URL gerendert?</p>
                    <ul>
                        <li class="fragment"><em>Angular 1</em>
                            <ul>
                                <li>Ab 1.5 <a target="_blank" href="https://docs.angularjs.org/guide/component-router">Component Router</a>
                                <li>Vorher Angular Router oder Angular-UI-Router
                            </ul>
                        </li>
                        <li class="fragment"><em>React</em>
                            <ul>
                                <li>React-Router
                            </ul>
                        </li>
                        <li class="fragment"><em>Angular 2</em>
                            <ul>
                                <li><a target="_blank" href="https://docs.angularjs.org/guide/component-router">Component Router</a>
                            </ul>
                        </li>
                        <li class="fragment"><em>Web Components</em>
                            <ul>
                                <li>Kein Standard
                            </ul>
                        </li>
                    </ul>
                    <p class="fragment">React-Router und Component Router können verschachtelte Routen rendern</p>
                </section>
                <section>
                    <h3>Data-Bindung</h3>
                    <ul>
                        <li class="fragment"><em>Angular 1</em>
                            <ul>
                                <li>2-Wege
                            </ul>
                        </li>
                        <li class="fragment"><em>React</em>
                            <ul>
                                <li>1-Weg
                                <li>Controller-/Child-View
                            </ul>
                        </li>
                        <li class="fragment"><em>Angular 2</em>
                            <ul>
                                <li>1-Weg
                                <li>Controller-/Child-View
                                <li>optional simuliertes 2-Wege-Binding
                            </ul>
                        </li>
                        <li class="fragment"><em>Web Components</em>
                            <ul>
                                <li>Keine Vorgabe
                                <li>Natürlicherweise Observer
                            </ul>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Optimiale Sprachvariante</h3>
                    <ul>
                        <li class="fragment"><em>Angular 1</em>
                            <ul>
                                <li>ES5
                            </ul>
                        </li>
                        <li class="fragment"><em>React</em>
                            <ul>
                                <li>ES6/7/8 / flow
                            </ul>
                        </li>
                        <li class="fragment"><em>Angular 2</em>
                            <ul>
                                <li>TypeScript
                            </ul>
                        </li>
                        <li class="fragment"><em>Web Components</em>
                            <ul>
                                <li>Beliebig
                            </ul>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Mobile Entwicklung</h3>
                    <ul>
                        <li class="fragment"><em>Angular 1</em>
                            <ul>
                                <li>Ionic
                            </ul>
                        </li>
                        <li class="fragment"><em>React</em>
                            <ul>
                                <li>React Native
                            </ul>
                        </li>
                        <li class="fragment"><em>Angular 2</em>
                            <ul>
                                <li>Ionic 2
                            </ul>
                        </li>
                        <li class="fragment"><em>Web Components</em>
                            <ul>
                                <li>%
                            </ul>
                        </li>
                    </ul>
                </section>
                <section>
                    <img src="Webcomponents-Bashing.png" style="width: 900px;">
                    <p><small><a href="https://twitter.com/mjackson/status/639907104560541696" target="_blank">@mjackson</a></small></p>
                </section>
                <section>
                    <h3>Fan-Clubs</h3>
                    <ul>
                        <li class="fragment"><em>Angular 1</em>
                            <ul>
                                <li>Java-Entwickler
                            </ul>
                        </li>
                        <li class="fragment"><em>React</em>
                            <ul>
                                <li>JavaScript-Entwickler
                                <li>Freunde der funktionalen Programmierung
                            </ul>
                        </li>
                        <li class="fragment"><em>Angular 2</em>
                            <ul>
                                <li>Angular 1-Entwickler???
                            </ul>
                        </li>
                        <li class="fragment"><em>Web Components</em>
                            <ul>
                                <li>Google-Entwickler
                                <li>zukünftig größere Firmen???
                            </ul>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Coolness-Faktor</h3>
                    <ul>
                        <li class="fragment"><em>Angular 1</em>
                            <ul>
                                <li>Unmodern
                            </ul>
                        </li>
                        <li class="fragment"><em>React</em>
                            <ul>
                                <li>Der Hype
                            </ul>
                        </li>
                        <li class="fragment"><em>Angular 2</em>
                            <ul>
                                <li>Der kommende Hype???
                            </ul>
                        </li>
                        <li class="fragment"><em>Web Components</em>
                            <ul>
                                <li>Verwirrung
                            </ul>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Wie man sich darüber lustig macht</h3>
                    <ul>
                        <li class="fragment"><em>Angular 1</em>
                            <ul>
                                <li>JavaScript für Java-Leute
                                <li>Magie für die man einen Magier (Berater) braucht
                            </ul>
                        </li>
                        <li class="fragment"><em>React</em>
                            <ul>
                                <li>JavaScript-Müdigkeit: Viele Entscheidungen bei Techstack
                                <li>Hipster-Framework
                            </ul>
                        </li>
                        <li class="fragment"><em>Angular 2</em>
                            <ul>
                                <li>"Dieses mal machen wir alles richtig"!
                            </ul>
                        </li>
                        <li class="fragment"><em>Web Components</em>
                            <ul>
                                <li>Nicht bedeutend genug, um darüber Witze zu machen
                            </ul>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Investitions-Schutz</h3>
                    <ul>
                        <li class="fragment"><em>Angular 1</em>
                            <ul>
                                <li>Rückwärtskompatibilität, Stabilität, Reife
                                <li>Kein Einsatz bei Google
                            </ul>
                        </li>
                        <li class="fragment"><em>React</em>
                            <ul>
                                <li>Rückwärtskompatibilität, Stabilität, Reife
                                <li>Facebook basiert darauf
                            </ul>
                        </li>
                        <li class="fragment"><em>Angular 2</em>
                            <ul>
                                <li>bleibt abzuwarten (Totgeburt?)
                                <li>Einsatz in mehreren Projekten bei Google
                            </ul>
                        </li>
                        <li class="fragment"><em>Web Components</em>
                            <ul>
                                <li>Alle Browser-Hersteller sind zumindest interessiert
                                <li>Wird vanilla.js (hoffentlich)
                                <li>Rest-Unsicherheit bleibt
                            </ul>
                        </li>
                    </ul>
                </section>
        <section>
            <h2>Review</h2>
            <ol>
                <li class="fragment grow"><a href="#angular1">Der Klassiker: Angular 1.x</a>
                <li class="fragment grow"><a href="#react">Von Antipatterns zu Best-Practices: React</a>
                <li class="fragment grow"><a href="#angular2">kgV (Vereinigungsmenge): Angular 2</a>
                <li class="fragment grow"><a href="#webcomponents">ggT (Schnittmenge): Web Components</a>
            </ol>
        </section>

        <!--<section>-->
            <!--<h2>Ressourcen</h2>-->
            <!--<ul>-->
                <!--<li><a href="http://teropa.info/blog/2015/03/02/change-and-its-detection-in-javascript-frameworks.html" target="_blank">-->
                    <!--Change Detection in JavaScript Frameworks</a>-->
                <!--<li><a href="http://blog.thoughtram.io/angular/2016/02/22/angular-2-change-detection-explained.html" target="_blank">-->
                <!--Angular 2 Change Detection Explained</a>-->
            <!--</ul>-->
        <!--</section>-->

        <section>
            <h3>Was hat das mit Embarc zu tun?</h3>
            <a href="http://www.embarc.de/"><img src="embarc-Angebot.png"></a>
        </section>

        <section>
            <h3>Vielen Dank!</h3>

            <h4>Fragen / Diskussion</h4>

            <p>
                <small><a href="http://zeigermann.eu">Oliver Zeigermann</a> / <a href="http://twitter.com/djcordhose">@DJCordhose</a>
                </small>
            </p>
            <a href="http://www.embarc.de/"><img src="embarc13.png"
                                                 height="150"></a>
            <br>
            <p>Online-Version: <a href="http://bit.ly/1Ot8Mkg">http://bit.ly/1Ot8Mkg</a></p>
        </section>
        <section>
            <h1>Bonus Level</h1>
        </section>
        <!--<section id="aurelia">-->
            <!--<h2>Aurelia: Next Generation?</h2>-->
        <!--<ul>-->

            <!--<li class="fragment"><a target="_blank" href="http://aurelia.io">http://aurelia.io</a>-->
            <!--<li class="fragment">Rob Eisenberg (Hauptentwickler) ist dem Angular 2 Team erst beigetreten und dann hat es wieder verlassen-->
            <!--<li class="fragment">ES7, Babel, npm, jspm.io, gulp-->
            <!--<li class="fragment"><a target="_blank" href="http://blog.durandal.io/2015/03/16/aurelia-and-angular-2-code-side-by-side/">Aurelia vs Angular 2</a>-->
            <!--<li class="fragment">Ähnliche Ideen wie Angular 2, aber mit dem Versprechen: Weniger Code, mehr Konventionen, einfacher-->
        <!--</ul>-->
    <!--</section>-->
        <section id="elm">
            <h3>Elm: Hype 2016?</h3>
        <ul>
            <li class="fragment"><a target="_blank" href="http://elm-lang.org/">http://elm-lang.org/</a>
            <li class="fragment">Eine funkionale, reactive Sprache mit festgelegter Architektur
            <li class="fragment">Statische Typisierung und keine Null-Typen
            <li class="fragment">Ähnliche Ideen wie Redux/Flux für React, aber Architektur in die Sprache eingebaut
            <li class="fragment">Browser als einzige Zielplattform
            <li class="fragment">Wird durch Compiler nach JavaScript übersetzt
            <li class="fragment">Nutzt ähnliche Ideen wie React für das Rendering
        </ul>
    </section>

			</div>

		</div>

		<script src="reveal.js/lib/js/head.min.js"></script>
		<script src="reveal.js/js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'reveal.js/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'reveal.js/plugin/zoom-js/zoom.js', async: true },
					{ src: 'reveal.js/plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
